body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #a2c8e7;
    color: white;
}

header .navbar-nav .nav-link {
    color: white;
}

header .navbar-nav .nav-link:hover {
    color: #007bff;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    color: #1c316d;
}

h2 {
    color: #1c316d;
    margin-top: 30px;
}

section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #1c316d;
}

footer a:hover {
    color: #007bff;
}

address {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    width:42px;
    height:42px;
    margin: 10px;
}
